<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<!--    老式添加组件方式
            虽然配置了beans.xml文件，但是sprngboot没有加载到容器中，只能使用@ImportResource
-->
    <bean id="hehe" class="com.itguigu.boot.bean.User">
        <property name="name" value="张三"></property>
        <property name="age" value= "18"></property>
    </bean>

    <bean id="haha" class="com.itguigu.boot.bean.Pet">
        <property name="name" value="tomcat"></property>
    </bean>
</beans>